<% content_for :title, "Stacja #{@station.name}" %>

<div class="container">

  <h4>
    Stacja IMGW <%= @station.name %>
    <%= link_to 'Edycja', edit_station_path(@station), class:"btn btn-sm btn-outline-primary" if current_user.try(:admin) %>
    <%= link_to 'Lista Stacji', stations_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Ostatni Pomiar", measurement_path(Measurement.where(station_number:@station.number).pluck(:id).last), class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Ostatnia Prognoza", forecast_path(Forecast.where(station_number:@station.number).pluck(:id).last), class:"btn btn-sm btn-outline-primary" %>
    <%= link_to 'Lista Pomiarów ze Stacji', measur_station_path(@station.id), class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <p>IMGW-ID: <strong><%= @station.number %></strong>.</p>
  <p>Status: <strong><%= "Aktywny" if @station.status %></strong></p>
  <p>Koordynaty: <strong>
  <a href="https://maps.google.com/maps?ll=<%= @station.latitude %>,<%= @station.longitude %>&q=<%= @station.latitude %>,<%= @station.longitude %>"><%= @station.longitude %>, <%= @station.latitude %></a>
  </strong></p>

  <h4>Lokalizacja</h4><hr>
  <div align="center">
    <iframe width="720" height="400" frameborder="0" style="border:0"
     src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCx3WpXtmfwjePmkgLqXZnV7VvM03i0ICE&q=<%= @station.latitude %>,<%= @station.longitude %>"
     allowfullscreen>
    </iframe>
  </div>
  
</div>
