<% content_for :title, "Stacje metar" %>

<div class="container-fluid" align="center">

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to "Stache IMGW", stations_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Stacje GIOS", gios_stations_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Stacje METAR", metar_stations_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Stacje Gdańskie Wody", gw_stations_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4>
        Stacje metar
        <%= link_to 'Nowa Stajca', new_metar_station_path, class:"btn btn-sm btn-outline-primary" if current_user.try(:admin) %>
      </h4><hr>

      <div class="table-responsive" align="center">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr align="center">
              <th>Nazwa</th>
              <th>Numer</th>
              <th>Szerokość</th>
              <th>Długość</th>
              <th>Akcje</th>
            </tr>
          </thead>

          <tbody>
            <% @metar_stations.each do |station| %>
              <tr align="center">
                <td><%= station.name %></td>
                <td><%= station.number %></td>
                <td><%= station.latitude %></td>
                <td><%= station.longitude %></td>
                <td><%= link_to 'Przejdź', station, class:"btn btn-outline-primary btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p align="center"><%= will_paginate @metar_stations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>
    </div>
  </div>
</div>
