<% content_for :title, "Depesze godzinne" %>

<div class="container-fluid" align="center">

  <h4>
    Mapa depeszy z dnia
    <%= @metar_raports.order("created_at desc").pluck(:day).last %> o godzinie
    <%= @metar_raports.order("created_at desc").pluck(:hour).last %> UTC
    <%= link_to "Kalendarz pomiarów", metar_raports_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to 'Przejdź do dnia', metar_raport_daily_path(1, date: @metar_raports.pluck(:day).last), class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <% content_for :title, "Mapa" %>

  <div style='width: 800px;'>
    <div id="sidebar_builder" style='width: 1140px; height: 600px;'></div>
  </div>
  <br>

  <%= render "multimap" %>

  <hr>
  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr align="center">
          <th>METAR</th>
          <th>Stacja</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @metar_raports.each do |raport| %>
          <tr align="center">
            <td><%= raport.metar %></td>
            <td><%= raport.station %></td>
            <td><%= link_to 'Przejdź', raport, class:"btn btn-outline-primary btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
