<% content_for :title, "Pomiary – Gdańskie Wody" %>

<div class="container-fluid" align="center">

  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr align="center">
          <th>Gw station</th>
          <th>Datetime</th>
          <th>Rain</th>
          <th>Water</th>
          <th>Winddir</th>
          <th>Windlevel</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @gw_measurs.each do |gw_measur| %>
          <tr>
            <td><%= link_to GwStation.find(gw_measur.gw_station_id).name, gw_measur.gw_station %></td>
            <td><%= gw_measur.datetime %></td>
            <td><%= gw_measur.rain %></td>
            <td><%= gw_measur.water %></td>
            <td><%= gw_measur.winddir %></td>
            <td><%= gw_measur.windlevel %></td>
            <td><%= link_to 'Przejdź', gw_measur, class:"btn btn-outline-primary btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
