<div class="card" align="center">
  <div class="card box-shadow text-black <%= get_index_class(@gios_measurment.st_index) %>">
   <div class="card-header">
     <p><strong><%= GiosStation.find_by(number:@gios_measurment.station).name %> – <%= @gios_measurment.station %></strong></p>
     <p><%= @gios_measurment.calc_date.strftime("%Y-%m-%d; %H:%M") if @gios_measurment.calc_date %></p>
   </div>
   <div class="card-body">
     <p class="lead card-title">Indeks jakości: <%= get_index_level(@gios_measurment.st_index) %></p>
     <p class="card-text">
       PM<sub>10</sub>: <% if @gios_measurment.pm10_value %> <%= @gios_measurment.pm10_value.round(2) %> µg/m<sup>3</sup>
       <%= get_index_level(@gios_measurment.pm10_index) %>
       <div class="progress">
         <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@gios_measurment.pm10_value)/(0.5) %>%;"><%= ((@gios_measurment.pm10_value)/(0.5)).round(0) %>%</div>
       </div>
       <% else %> b/d
       <% end %>
     </p><hr>
     <p class="card-text">
       PM<sub>2.5</sub>: <% if @gios_measurment.pm25_value %> <%= @gios_measurment.pm25_value.round(2) %> µg/m<sup>3</sup>
       <%= get_index_level(@gios_measurment.pm25_index) %>
       <div class="progress">
         <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@gios_measurment.pm25_value)/(0.25) %>%;"><%= ((@gios_measurment.pm25_value)/(0.25)).round(0) %>%</div>
       </div>
       <% else %> b/d
       <% end %>
     </p>
   </div>
  </div>
</div><br>
<p><%= link_to "Więcej...", @gios_measurment, class:"btn btn-sm btn-outline-primary" %></p>
