<p class="lead"><strong><%= station.name %> – <%= @gw_measurment.gw_station_id %></strong></p><hr>
<% if @type == 1 %>
  <p>Opady: <%= @gw_measurment.rain %><%= "b/d" if not @gw_measurment.rain %></p>
<% elsif @type == 2 %>
  <p>Pomiar poziomu wody: <%= @gw_measurment.water %><%= "b/d" if not @gw_measurment.water %></p>
  <p>Poprzedni pomiar poziomu wody: <%= @gw_measurment_second.water %><%= "b/d" if not @gw_measurment_second.water %></p>
  <% if station.level_normal %>
  <hr>
  <i class="<%= 'water-strong' if @level == 1 %>">Poziom niski: od 0 do <%= station.level_normal.to_i/2 %></i><br>
  <i class="<%= 'water-strong' if @level == 2 %>">Poziom średni: od <%= station.level_normal.to_i/2 %> do <%= station.level_normal %></i><br>
  <i class="<%= 'water-strong' if @level == 3 %>">Poziom wysoki: od <%= station.level_max.to_i/2 %> do <%= station.level_max %></i><br>
  <i class="<%= 'water-strong' if @level == 4 %>">Poziom ostrzegawczy: od <%= station.level_max %> do <%= station.level_max+station.level_rise %></i><br>
  <i class="<%= 'water-strong' if @level == 5 %>">Poziom alarmowy: powyżej <%= station.level_max+station.level_rise %></i><br>
  <hr>
  <% end %>
<% end %>
<p>Data pomiaru: <%= @gw_measurment.datetime.strftime("%d.%m.%Y %H:%M") if @gw_measurment.datetime %> UTC</p>
