<h5><%= title %></h5>
<iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=<%= cat %>&time=<%= time %>&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
<hr></hr>
