<% content_for :title, "AROME" %>

<div class="container-fluid" align="center" id="home_test">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <% @parameters.each do |key, value| %>
        <li class="nav-item">
          <%= link_to key, pages_arome_path(key:key,value:value), class:"nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= params[:key] %></h5>
      <div id="arome_indicators" class="carousel slide" data-ride="false">
        <ol class="carousel-indicators">
          <li data-target="arome_indicators" data-slide-to="0" class="active"></li>
          <% for id in 2..30 %>
            <li data-target="arome_indicators" data-slide-to="<%= id %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to (image_tag "https://meteomodel.pl/arome/99/#{params[:value]}/#{params[:value]}_01.png", class:"res-img"), "https://meteomodel.pl/arome/99/#{params[:value]}/#{params[:value]}_01.png", class:"d-block w-100", alt:"TOP_0" %>
          </div>
          <% for id in 2..30 %>
            <div class="carousel-item">
              <%= link_to (image_tag "https://meteomodel.pl/arome/99/#{params[:value]}/#{params[:value]}_#{id.to_s.rjust(2,"0")}.png", class:"res-img"), "https://meteomodel.pl/arome/99/#{params[:value]}/#{params[:value]}_#{id.to_s.rjust(2,"0")}.png", class:"d-block w-100", alt:"TOP_#{id}" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#arome_indicators" role="button" data-slide="prev">
          <i class="fa fa-arrow-left carousel-arrows"></i>
          <span class="sr-only">Poprzedni</span>
        </a>
        <a class="carousel-control-next" href="#arome_indicators" role="button" data-slide="next">
          <i class="fa fa-arrow-right carousel-arrows"></i>
          <span class="sr-only">Następny</span>
        </a>
      </div>
    </div>
  </div>
</div>
