<% content_for :title, "Model COAMPS – Dane powierzchniowe" %>

<div class="container-fluid" align="center">
  <h4>Model COAMPS – Dane powierzchniowe – <%= @datetime.strftime("%d.%m.%Y %H:%M") %></h4><hr>

  <%= render "pages/coamps_body", :title => "Ciśnienie na poziomie morza", :type => "SLPH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Podstawa chmur", :type => "CLBH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Wierzchołek chmur", :type => "CLTH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Chmury wysokie", :type => "CLCS_H_2N_" %>
  <%= render "pages/coamps_body", :title => "Chmury średnie", :type => "CLCS_M_2N_" %>
  <%= render "pages/coamps_body", :title => "Chmury niskie", :type => "CLCS_L_2N_" %>
  <%= render "pages/coamps_body", :title => "Zachmurzenie ogólne", :type => "CLCS_T_2N_" %>
  <%= render "pages/coamps_body", :title => "Wysokość powierzchni zamarzania", :type => "FRHH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Opad deszcz konwekcyjny", :type => "CNPH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Opad deszcz wielkoskalowy", :type => "STPH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Śnieg", :type => "TTSH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Suma opadu", :type => "TTPH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Deszcz + śnieg", :type => "TRSH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Temperatura", :type => "T__H_0002.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Widzialność", :type => "VISH_0000.0_2N_" %>
  <%= render "pages/coamps_body", :title => "Temperatura powierzchni gruntu", :type => "GT_H_0000.0_2N_" %>

  <p><%= link_to "Źródło danych: meteo.pl", "http://new.meteo.pl/um/php/small_maps.php?all=1", class:"btn btn-sm btn-outline-primary" %></p>
</div>
