<% content_for :title, "Model COAMPS – Dane na poziomach ciśnieniowych" %>

<div class="container-fluid" align="center">
  <h4>Model COAMPS – Dane na poziomach ciśnieniowych – <%= @datetime.strftime("%d.%m.%Y %H:%M") %></h4><hr>

  <%= render "pages/coamps_body", :title => "0300hPa – Prędkość wiatru", :type => "W__P_0300.0_2N_" %>
  <%= render "pages/coamps_body", :title => "0500hPa – Temperatura", :type => "T__P_0500.0_2N_" %>
  <%= render "pages/coamps_body", :title => "0500hPa – Prędkość wiatru", :type => "W__P_0500.0_2N_" %>
  <%= render "pages/coamps_body", :title => "0500hPa – Wysokość geopotencjału + Izotermy", :type => "G+TP_0500.0_2N_" %>
  <%= render "pages/coamps_body", :title => "0850hPa – Temperatura", :type => "T__P_0850.0_2N_" %>
  <%= render "pages/coamps_body", :title => "0850hPa – Prędkość wiatru", :type => "W__P_0850.0_2N_" %>

  <p><%= link_to "Źródło danych: meteo.pl", "http://new.meteo.pl/um/php/small_maps.php?all=1", class:"btn btn-sm btn-outline-primary" %></p>
</div>
