<% content_for :title, "COSMO" %>

<div class="container-fluid">
  <h4>MODEL COSMO – POLSKA CISNIENIE + ZACHMURZENIE (Aktualizacja 2 razy na dobe o 7UTC i 19UTC)<h4/>
  <i>Start modelu o 0UTC<i/>
  <% for i in (24..69).step(3) %>
    <% if i % 12 == 0 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://www.pogodynka.pl/http/assets/products/c<%= i %>.Z_TEST._PL_CT.PNG"><img src="http://www.pogodynka.pl/http/assets/products/c<%= i %>.Z_TEST._PL_CT.PNG" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://www.pogodynka.pl/http/assets/products/c<%= i+3 %>.Z_TEST._PL_CT.PNG"><img src="http://www.pogodynka.pl/http/assets/products/c<%= i+3 %>.Z_TEST._PL_CT.PNG" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://www.pogodynka.pl/http/assets/products/c<%= i+6 %>.Z_TEST._PL_CT.PNG"><img src="http://www.pogodynka.pl/http/assets/products/c<%= i+6 %>.Z_TEST._PL_CT.PNG" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://www.pogodynka.pl/http/assets/products/c<%= i+9 %>.Z_TEST._PL_CT.PNG"><img src="http://www.pogodynka.pl/http/assets/products/c<%= i+9 %>.Z_TEST._PL_CT.PNG" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA TEMPERATURA 2m  (Aktualizacja 4 razy na dobe)<h4/>
  <i>Start modelu o 00UTC, 06UTC, 12UTC, 18UTC. Czas prognozy co 3 godziny łączny czas prognozy 78 godzin</i>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_T2m,H500,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – EUROPA TEMPERATURA 2m (06UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_T2m,H500,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – EUROPA TEMPERATURA 2m (12UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_T2m,H500,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – EUROPA TEMPERATURA 2m (18UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_T2m,H500,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – EUROPA CISNIENIE + ZACHMURZENIE + OPAD (Aktualizacja 4 razy na dobe)<h4/>
  <i>Start modelu o 00, 06, 12, 18UTC. Czas prognozy co 3ggodziny laczny czas prognozy +78 godzin</i>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA CIŚNIENIE + ZACHMURZENIE + OPAD (06UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA CISNIENIE + ZACHMURZENIE + OPAD (12UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – EUROPA CISNIENIE + ZACHMURZENIE + OPAD (18UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_precip,mClouds,PMSL_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA WIATR 10m (00UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/00/FM_wind10m,gust10m_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA WIATR 10m (06UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/06/FM_wind10m,gust10m_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA WIATR 10m (12UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/12/FM_wind10m,gust10m_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4>MODEL COSMO – EUROPA WIATR 10m (18UTC)<h4/>
  <% for i in (21..78).step(3) %>
    <% if i % 12 == 9 %>
      <div class="row" align="center">
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+3 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+3 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+6 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+6 %>hour.png" class="full-img"></a>
        </div>
        <div class="col-sm">
          <a href="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+9 %>hour.png"><img src="http://frost2014.meteoinfo.ru/images/cosmo7/pictures/18/FM_wind10m,gust10m_<%= i+9 %>hour.png" class="full-img"></a>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr>
  <h4> MODEL COSMO – PRĘDKOŚĆ WIATRU POMORZE U0 AGL (Above Ground Level)<h4/>
  <i>Start modelu o 00Z. Czas prognozy +8 godzin</i>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.000.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.000.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.003.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.003.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.006.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.006.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.009.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.009.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.012.gif"><img><src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.012.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.015.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.015.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.018.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.018.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.021.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U0.021.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4> MODEL COSMO – PRĘDKOŚĆ WIATRU POMORZE U100 AGL (Above Ground Level)<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.000.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.000.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.003.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.003.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.006.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.006.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.009.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.009.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.012.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.012.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.015.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.015.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.018.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.018.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.021.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U100.021.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>

  <h4> MODEL COSMO – PRĘDKOŚĆ WIATRU POMORZE U400 AGL (Above Ground Level)<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.000.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.000.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.003.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.003.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.006.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.006.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.009.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.009.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.012.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.012.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.015.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.015.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.018.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.018.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.021.gif"><img src="http://awiacja.imgw.pl/prognozy/wind/1ATS_U400.021.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4> MODEL COSMO – POLSKA CAPE [J/kg]<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl1CAPE.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl1CAPE.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4>MODEL COSMO – POLSKA CIN [J/kg]<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl2CINS.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl2CINS.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4>MODEL COSMO – POLSKA EQ-Level [metry]<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl3HEQL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl3HEQL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4> MODEL COSMO – POLSKA Showalter Index [500 hPa]<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Ob4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl4slin.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl4slin.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4> MODEL COSMO – POLSKA Poziom LCL [metry]<h5/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl5HLCL.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl5HLCL.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <hr>
  <h4> MODEL COSMO – POLSKA Impuls Konwekcji[J/kg] + Profil Pionowy [Km]<h4/>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/12.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/13.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/14.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/15.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/16.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/17.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/18.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/19.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/20.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
    <div class="col-sm">
      <a href="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl6ICnv.gif"><img src="http://awiacja.imgw.pl/burze/indeksy/gify_KONW_DWD_TURB/21.Obl6ICnv.gif" border="0" width="350" height="350" alt="obrazek"></a>
    </div>
  </div>
</div>
