<% content_for :title, "Mapa pomiarów" %>

<div class="container">

  <h4>
    Mapa pomiarów
    <%= link_to "Mapa Prognoz", pages_forecast_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Mapa METAR", pages_metar_path, class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <div style='height: 750px;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap" %>
  </div><hr>

  <p align="center">Data i godzina ostatniego pomiaru: <%= @date %>; <%= @hour %>:00 UTC.</p>

</div>
