<% content_for :title, "Radary" %>

<div class="container-fluid" align="center">
  <div class="row" align="center">
    <div class="col-sm">
      <h5>CAPPI</h5>
      <%= link_to (image_tag(@radar.cappi.url(:pomorze))), @radar.cappi.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>CMAX</h5>
      <%= link_to (image_tag(@radar.cmaxdbz.url(:pomorze))), @radar.cmaxdbz.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>EHT</h5>
      <%= link_to (image_tag(@radar.eht.url(:pomorze))), @radar.eht.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>RTR</h5>
      <%= link_to (image_tag(@radar.rtr.url(:pomorze))), @radar.rtr.url, class:"full-img" %>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <h5>PAC</h5>
      <%= link_to (image_tag(@radar.pac.url(:pomorze))), @radar.pac.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>ZHAIL</h5>
      <%= link_to (image_tag(@radar.zhail.url(:pomorze))), @radar.zhail.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>HSHEAR</h5>
      <%= link_to (image_tag(@radar.hshear.url(:pomorze))), @radar.hshear.url, class:"full-img" %>
    </div>
    <div class="col-sm">
      <h5>SRI</h5>
      <%= link_to (image_tag(@radar.sri.url(:pomorze))), @radar.sri.url, class:"full-img" %>
    </div>
  </div>
  <hr>
  <p><i>Data i godzina pobrania: <%= @radar.created_at.strftime("%d.%m.%Y %H:%M %z") %></i></p>
  <p><%= link_to "Źródło danych: meteomodel.pl", "https://meteomodel.pl/dane/radary/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
