<% content_for :title, "Model UM" %>

<div class="container-fluid" align="center">
  <h4>Model UM</h4><hr>

  <h5>Ciśnienie na poziomie morza</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=0&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Temperatura + Linie prądu</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=1&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Temperatura powierzchni</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=2&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Opad</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=3&time=1&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Burze</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=4&time=1&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Wiatr przyziemny</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=5&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Maksymalny poryw wiatru</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=6&time=1&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Widzialność</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=7&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Mgła</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=8&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Wilgotność względna względem lodu</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=9&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Wilgotność względna względem wody</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=10&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Chmury bardzo niskie</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=11&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Chmury niskie</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=12&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Chmury średnie</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=13&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Chmury wysokie</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=14&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <h5>Zachmurzenie ogólne</h5>
  <iframe src="http://new.meteo.pl/um/php/pict_show.php?cat=15&time=0&date=<%= @date %><%= @hour %>" width="735" height="880" frameborder="0" scrolling="no"></iframe>
  <hr></hr>

  <p><%= link_to "Źródło danych: meteo.pl", "http://new.meteo.pl/um/php/small_maps.php?all=1", class:"btn btn-sm btn-outline-primary" %></p>
</div>
