<% content_for :title, "Model UM" %>

<div class="container-fluid" align="center">
  <h4>Model UM – <%= @datetime.strftime("%d.%m.%Y %H:%M") %></h4><hr>

  <%= render "pages/um_body", :title => "Ciśnienie na poziomie morza", :cat => "0", :time => "0" %>
  <%= render "pages/um_body", :title => "Temperatura + Linie prądu", :cat => "1", :time => "0" %>
  <%= render "pages/um_body", :title => "Temperatura powierzchni", :cat => "2", :time => "0" %>
  <%= render "pages/um_body", :title => "Opad", :cat => "3", :time => "1" %>
  <%= render "pages/um_body", :title => "Burze", :cat => "4", :time => "1" %>
  <%= render "pages/um_body", :title => "Wiatr przyziemny", :cat => "5", :time => "0" %>
  <%= render "pages/um_body", :title => "Maksymalny poryw wiatru", :cat => "6", :time => "1" %>
  <%= render "pages/um_body", :title => "Widzialność", :cat => "7", :time => "0" %>
  <%= render "pages/um_body", :title => "Mgła", :cat => "8", :time => "0" %>
  <%= render "pages/um_body", :title => "Wilgotność względna względem lodu", :cat => "9", :time => "0" %>
  <%= render "pages/um_body", :title => "Wilgotność względna względem wody", :cat => "10", :time => "0" %>
  <%= render "pages/um_body", :title => "Chmury bardzo niskie", :cat => "11", :time => "0" %>
  <%= render "pages/um_body", :title => "Chmury niskie", :cat => "12", :time => "0" %>
  <%= render "pages/um_body", :title => "Chmury średnie", :cat => "13", :time => "0" %>
  <%= render "pages/um_body", :title => "Chmury wysokie", :cat => "14", :time => "0" %>
  <%= render "pages/um_body", :title => "Zachmurzenie ogólne", :cat => "15", :time => "0" %>

  <p><%= link_to "Źródło danych: meteo.pl", "http://new.meteo.pl/um/php/small_maps.php?all=1", class:"btn btn-sm btn-outline-primary" %></p>
</div>
