<% content_for :title, "Radary" %>

<div class="container">

  <h4>Kalendarz pomiarów radarowych</h4><hr>

  <div class="row" align="center">
    <div class="col-sm">
      <%= link_to "Poprzedni Miesiąc", radars_path(date: @date - 1.month), class:"btn btn-block btn-outline-primary btn-sm" %>
    </div>
    <div class="col-sm">
      <h5><%= l(@date, format: :calendar).titleize %></h5>
    </div>
    <div class="col-sm">
      <%= link_to "Następny Miesiąc", radars_path(date: @date + 1.month), class:"btn btn-block btn-outline-primary btn-sm" %>
    </div>
  </div>
  <hr>
  <div>
    <%= calendar @date do |date| %>
      <% @days.each do |day| %>
        <%= link_to "#{date.day}", daily_radar_path(1, date: day), class:"btn btn-block btn-outline-primary btn-xs" if date.strftime("%Y-%m-%d") == day %>
      <% end %>
    <% end %>
  </div>

</div>
