<% content_for :title, "Radary" %>

<div class="container-fluid" align="center">

  <h4>
    Radary
    <%= link_to 'Edycja', edit_radar_path(@radar), class:"btn btn-sm btn-outline-primary" if current_user %>
    <%= link_to 'Kalendarz pomiarów', radars_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Wróć do dnia", daily_radar_path(1, date: @radar.created_at.strftime("%Y-%m-%d")), class:"btn btn-sm btn-outline-primary" %>
    <%= link_to "Wróć do godziny", hourly_radar_path(hour: @radar.created_at.utc.strftime("%H:%M"), date: @radar.created_at.strftime("%Y-%m-%d")), class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <div class="row" align="center">
    <div class="col-sm">
      <h5>CAPPI</h5>
      <%= link_to (image_tag(@radar.cappi.url(:pomorze))), @radar.cappi.url %>
    </div>
    <div class="col-sm">
      <h5>CMAX</h5>
      <%= link_to (image_tag(@radar.cmaxdbz.url(:pomorze))), @radar.cmaxdbz.url %>
    </div>
    <div class="col-sm">
      <h5>EHT</h5>
      <%= link_to (image_tag(@radar.eht.url(:pomorze))), @radar.eht.url %>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <h5>PAC</h5>
      <%= link_to (image_tag(@radar.pac.url(:pomorze))), @radar.pac.url %>
    </div>
    <div class="col-sm">
      <h5>ZHAIL</h5>
      <%= link_to (image_tag(@radar.zhail.url(:pomorze))), @radar.zhail.url %>
    </div>
    <div class="col-sm">
      <h5>HSHEAR</h5>
      <%= link_to (image_tag(@radar.hshear.url(:pomorze))), @radar.hshear.url %>
    </div>
  </div>
  <hr>
  <p align="center"><i>Data i godzina pobrania: <%= @radar.created_at.strftime("%d.%m.%Y %H:%M %z") %></i></p>
</div>
