<% content_for :title, "Pomiary godzinne" %>

<div class="container">

  <h4>
    Mapa pomiarów z dnia
    <%= @measurements.order("created_at desc").pluck(:date).last %> o godzinie
    <%= @measurements.order("created_at desc").pluck(:hour).last %> UTC
    <%= link_to "Kalendarz pomiarów", measurements_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to 'Przejdź do dnia', measurement_daily_path(1, date: @measurements.pluck(:date).last), class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <% content_for :title, "Mapa" %>

  <div style='width: 800px;'>
    <div id="sidebar_builder" style='width: 1140px; height: 600px;'></div>
  </div>

  <br>
  <p align="center">Data i godzina pomiaru: <%= @date %>; <%= @hour %>:00 UTC.</p>

  <%= render "multimap" %>

</div>
