<% content_for :title, "Pomiary" %>

<div class="container">

<h1 class=page-header>Pomiary</h1>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day %></td>
        <td><%= link_to 'Przejdź do dnia', measurement_daily_path(1, date: day), class:"btn btn-success btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= will_paginate @days, renderer: BootstrapPagination::Rails %></p>

<% if current_user.try(:admin) %>
<div class="row" align="center">
  <div class="col-md-4">
    <h4>Importuj Pomiary z pliku [csv]</h4>
  </div>
  <div class="col-md-4">
    <%= form_tag import_measurements_path, multipart: true do %>
      <%= file_field_tag :file, class:"form-control" %>
  </div>
  <div class="col-md-4">
    <%= submit_tag "Importuj", class:"btn btn-success" %>
    <% end %>
  </div>
</div>
<br>
<% end %>

</div>

<br>
