<% content_for :title, "Pomiar" %>

<div class="container">

<p>Stacja: <strong><%= link_to Station.where(number:@measurement.station_number).pluck(:name).last, station_path(Station.where(number:@measurement.station_number).pluck(:id).last) %></strong></p>
<p>Data pomiaru: <strong><%= @measurement.date %></strong></p>
<p>Godzina pomiaru: <strong><%= @measurement.hour %></strong></p>
<p>Temperatura: <strong><%= @measurement.temperature %></strong></p>
<p>Prędkość wiatru: <strong><%= @measurement.wind_speed %></strong></p>
<p>Kierunek wiatru: <strong><%= @measurement.wind_direct %></strong></p>
<p>Wilgotność: <strong><%= @measurement.humidity %></strong></p>
<p>Ciśnienie atmosferyczne: <strong><%= @measurement.preasure %></strong></p>
<p>Opady deszczu: <strong><%= @measurement.rainfall %></strong></p>
<p>Odparowanie: <strong><%= @measurement.et %></strong></p>

<%= link_to 'Edycja pomiaru', edit_measurement_path(@measurement), class:"btn btn-warning" if current_user.try(:admin) %>
<%= link_to 'Lista pomiarów', measurements_path, class:"btn btn-primary" %>
<%= link_to 'Mapa pomiarów', root_path, class:"btn btn-success" %>

</div>
