<% content_for :title, "Pomiar" %>

<div class="container">

  <h4>
    Pomiar warunków pogodowych
  </h4><hr>

  <div class="alert alert-primary" align="center">
    <h4 class="alert-heading"Stacja: <strong><%= link_to Station.where(number:@measurement.station_number).pluck(:name).last, station_path(Station.where(number:@measurement.station_number).pluck(:id).last) %></strong></h4>
    <p>Data pomiaru: <strong><%= @measurement.date %></strong></p>
    <p>Godzina pomiaru: <strong><%= @measurement.hour %> UTC</strong></p>
    <p>Temperatura: <strong><%= @measurement.temperature %> C</strong></p>
    <p>Prędkość wiatru: <strong><%= @measurement.wind_speed %> m/s</strong></p>
    <p>Kierunek wiatru: <strong><%= cardinals(@measurement.wind_direct) %></strong></p>
    <p>Wilgotność: <strong><%= @measurement.humidity %> %</strong></p>
    <p>Ciśnienie atmosferyczne: <strong><%= @measurement.preasure %> hPa</strong></p>
    <p>Opady deszczu: <strong><%= @measurement.rainfall %> mm</strong></p>
    <p>Odparowanie: <strong><%= @measurement.et if @measurement.et %><%= "Brak Danych" unless @measurement.et %></strong></p>
    <hr>
    <p class="mb-0">
      <%= link_to 'Edycja pomiaru', edit_measurement_path(@measurement), class:"btn btn-sm btn-outline-primary" if current_user.try(:admin) %>
      <%= link_to 'Lista pomiarów', measurements_path, class:"btn btn-sm btn-outline-primary" %>
      <%= link_to 'Przejdź do Stacji', station_path(@station.id), class:"btn btn-sm btn-outline-primary" %>
      <%= link_to 'Lista Pomiarów ze Stacji', measur_station_path(@station.id), class:"btn btn-sm btn-outline-primary" %>
    </p>
  </div>

</div>
