<% content_for :title, "Prognoza pogody" %>

<div class="container">

  <h4>
    Lista prognoz na dzień <%= @date.strftime("%d.%m.%Y") %>
    <%= link_to "Kalendarz prognoz", forecasts_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to daily_forecast_path(date: @date - 1.day), class: "btn btn-sm btn-outline-primary" do %> Poprzedni Dzień <% end %>
    <%= link_to daily_forecast_path(date: @date + 1.day), class: "btn btn-sm btn-outline-primary" do %> Następny Dzień <% end %>
  </h4><hr>

  <div style='width: 800px;'>
    <div id="sidebar_builder" style='width: 1140px; height: 600px;'></div>
  </div>

  <br>
  <p align="center">Data i godzina prognozy: <%= @date %>; <%= @hour %>:00 UTC.</p>

  <%= render "multimap" %>

</div>
