<% content_for :title, "Prognozy dzienne" %>

<div class="container">

  <h4>Lista prognoz na dzień <%= @date.strftime("%d.%m.%Y") %></h4><hr>

  <p align="center">
    <%= link_to daily_forecast_path(date: @date - 1.day), class: "btn btn-sm btn-outline-info" do %> Poprzedni Dzień <% end %>
    <%= link_to daily_forecast_path(date: @date + 1.day), class: "btn btn-sm btn-outline-info" do %> Następny Dzień <% end %>
  </p><hr>

  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr align="center">
          <th>Godzina</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @hours.each do |hour| %>
          <tr align="center">
            <td><%= hour %></td>
            <td><%= link_to 'Przejdź do godziny', hourly_forecast_path(1, hour: hour, date: @date), class:"btn btn-outline-primary btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
