<% content_for :title, "Prognozy godzinne" %>

<div class="container">

<div class="page-header">
  <div class="pull-left">
  <h2>Lista prognoz z dnia <%= @forecasts.order("created_at desc").pluck(:date).last %>
    z godziny <%= @forecasts.order("created_at desc").pluck(:hour).last %>:00.</h2>
  </div>
  <div class="pull-right">
  <h3 class="text-right">
    <%= link_to 'Przejdź do dnia', daily_forecast_path(1, date: @forecasts.pluck(:date).last), class:"btn btn-success" %>
   </h3>
  </div>
  <div class="clearfix"></div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Data prognozy</th>
        <th>Następna prognoza</th>
        <th>ID Stacji</th>
        <th>Akcje</th>
      </tr>
    </thead>

    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.date %>; <%= forecast.hour %>:00</td>
          <td><%= forecast.next.strftime("%Y-%m-%d; %H:%M") if forecast.next %></td>
          <td><%= Station.where(number:forecast.station_number).pluck(:name).last %></td>
          <td><%= link_to 'Przejdź do prognozy', forecast, class:"btn btn-xs btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
