<% content_for :title, "Prognozy godzinne" %>

<div class="container-fluid" align="center">

<h4>
  Lista prognoz z dnia
  <%= @forecasts.order("created_at desc").pluck(:date).last %> z godziny
  <%= @forecasts.order("created_at desc").pluck(:hour).last %>:00.
  <%= link_to 'Przejdź do dnia', daily_forecast_path(1, date: @forecasts.pluck(:date).last), class:"btn btn-sm btn-outline-success" %>
</h4><hr>

<div class="table-responsive" align="center">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr align="center">
        <th>Data prognozy</th>
        <th>Następna prognoza</th>
        <th>ID Stacji</th>
        <th>Akcje</th>
      </tr>
    </thead>

    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr align="center">
          <td><%= forecast.date %>; <%= forecast.hour %>:00</td>
          <td><%= forecast.next.strftime("%Y-%m-%d; %H:%M") if forecast.next %></td>
          <td><%= Station.where(number:forecast.station_number).pluck(:name).last %></td>
          <td><%= link_to 'Przejdź do prognozy', forecast, class:"btn btn-xs btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
