<% content_for :title, "Prognoza" %>
<div class="container-fluid" align="center">

  <h4>Prognoza
    <%= link_to 'Edycja prognozy', edit_forecast_path(@forecast), class:"btn btn-sm btn-outline-primary" if current_user.try(:admin?) %>
    <%= link_to 'Kalendarz prognoz', forecasts_path, class:"btn btn-sm btn-outline-primary" %>
    <%= link_to 'Lista pomiarów ze stacji', measur_station_path(@station.id), class:"btn btn-sm btn-outline-primary" %>
    <%= link_to 'Przejdź do stacji', station_path(@station.id), class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <h4>Podstawowe informacje</h4><hr>
  <div class="alert alert-primary" align="center">
    <h4 class="alert-heading"><strong><%= Station.where(number:@forecast.station_number).pluck(:name).last %></strong></h4>
    <p>
      Data i godzina prognozy: <strong><%= @forecast.date %>; <%= @forecast.hour %>:00</strong>.
      Następna prognoza około: <strong><%= @forecast.next.strftime("%Y-%m-%d; %H:%M") if @forecast.next %></strong>
    </p>
  </div>

  <h4>Prognoza</h4><hr>
  <% for i in 0..@forecast.temperatures.count-1 %>
    <div class="alert alert-primary" >
      <h4 class="alert-heading" align="center">
        <strong><%= @forecast.times_from[i].strftime("%H:%M, %Y-%m-%d") if @forecast.times_from[i] %></strong>
        – <strong><%= @forecast.times_to[i].strftime("%H:%M, %Y-%m-%d") if @forecast.times_to[i] %></strong>
      </h4>
      <p>
        Temperatura: <strong><%= @forecast.temperatures[i] %>&#8451;</strong>;
        Ciśnienie: <strong><%= @forecast.preasures[i] %>hPa</strong>;
        Prędkość wiatru: <strong><%= (@forecast.wind_speeds[i].to_f).round(2) %>m/s</strong>;
        Kierunek wiatru: <strong><%= cardinals(@forecast.wind_directs[i]) %></strong>;
        Opady: <strong><%= @forecast.precipitations[i] %>mm/h</strong>;
      </p>
      <hr>
      <p class="mb-0">Sytuacja pogodowa [eng]: <strong><%= @forecast.situations[i] %></strong></p>
    </div>
  <% end %>
</div>
