<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> – Synoptyk</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <% if user_signed_in? %>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span onclick="alertsCollapse();">Ostrzeżenia meteo</span>
                    </h6>
                    <ul class="nav flex-column collapse" id="alerts">
                        <li class="nav-item"><%= active_link_to 'Ostrzeżenia', alerts_path, :title => "Lista ostrzeżeń meteo", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Kategorie', categories_path, :title => "Kategorie ostrzeżeń meteo", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Klienci', clients_path, :title => "Klienci", class:"nav-link" %></li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span onclick="radarsCollapse();">Radary</span>
                    </h6>
                    <ul class="nav flex-column collapse" id="radars">
                        <li class="nav-item"><%= active_link_to "Radary cała PL", pages_radars_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar WRN", pages_radars_gda_path(radar:"GDA_125_ZVW_vol_PAZP.wrn", name:"WRN"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar RTR", pages_radars_gda_path(radar:"gda.rtr", name:"RTR"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar VVP", pages_radars_gda_path(radar:"gda.vvp", name:"VVP"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar PPI", pages_radars_gda_path(radar:"gda_0_5.ppi", name:"PPI"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar SWI", pages_radars_gda_path(radar:"gda_100.swi", name:"SWI"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar HWIND 100", pages_radars_gda_path(radar:"gda_100_1.hwind", name:"HWIND 100"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar HWIND 120", pages_radars_gda_path(radar:"gda_120.hwind", name:"HWIND 120"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar CAPPI", pages_radars_gda_path(radar:"gda_125.cappi", name:"CAPPI"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar HSHEAR", pages_radars_gda_path(radar:"gda_125.hshear", name:"HSHEAR"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar VSHEAR", pages_radars_gda_path(radar:"gda_125.vshear", name:"VSHEAR"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar MAX", pages_radars_gda_path(radar:"gda_200.max", name:"MAX"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar PAC", pages_radars_gda_path(radar:"gda_200.pac", name:"PAC"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar ZHAIL", pages_radars_gda_path(radar:"gda_200.zhail", name:"ZHAIL"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar EHT", pages_radars_gda_path(radar:"gda_200_etz.eht", name:"EHT"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar SRI", pages_radars_gda_path(radar:"gda_200_leads.sri", name:"SRI"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radar CAPPI (dBZ)", pages_radars_gda_path(radar:"gda_compo_pcz.cappi", name:"CAPPI (dBZ)"), class:"nav-link" %></li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span onclick="modelsCollapse();">Modele</span>
                    </h6>
                    <ul class="nav flex-column collapse" id="models">
                        <li class="nav-item"><%= active_link_to "UM", pages_um_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "ALADIN", pages_aladin_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "COSMO 2k8", pages_cosmo_path(cosmo:"2k8", name:"2k8"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "COSMO 7", pages_cosmo_path(cosmo:"7", name:"7"), class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "GFS + ICON", pages_bonn_gfs_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "ICON-EU + COSMO-D2", pages_bonn_cosmo_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Estofex GFS", pages_estofex_gfs_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "JSMSG", pages_jsmsg_path, class:"nav-link" %></li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span onclick="mapsCollapse();">Mapy i wykresy</span>
                    </h6>
                    <ul class="nav flex-column collapse" id="maps">
                        <li class="nav-item"><%= active_link_to 'Mapa Pomiarów IMGW', pages_measurements_path, :title => "Radary", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Mapa Prognoz YR.NO", pages_forecast_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Mapa METAR", pages_metar_path, class:"nav-link" %></li>
                        <!-- <li class="nav-item"><%= active_link_to "Mapa jakości powietrza", pages_gios_path, class:"nav-link" %></li> -->
                        <li class="nav-item"><%= active_link_to "Mapa pomiarów – Gd. Wody", pages_gw_path, class:"nav-link" %></li>
                        <!-- <li class="nav-item"><%= active_link_to "Mapa wyładowań", pages_lightings_path, class:"nav-link" %></li> -->
                        <li class="nav-item"><%= active_link_to "Mapa pól opadowych", pages_rtr_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "VIS-IR HRV", pages_visir_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "SAFIR", pages_safir_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Nowcasting", pages_nowcasting_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Monitor IMGW", pages_monitor_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Analiza Wetter", pages_wetter_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Radiosondaże", pages_radio_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Dane DWD", pages_dwd_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Analiza Eumetsat", pages_eumetsat_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Mapa synoptyczna", pages_forecast_map_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Opad estymowany", pages_showers_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "RainViewer", pages_rainviewer_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "Petrobaltic", pages_petrobaltic_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to "SatBałtyk", pages_satbaltyk_path, class:"nav-link" %></li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span onclick="calendarsCollapse();">Kalendarze danych</span>
                    </h6>
                    <ul class="nav flex-column collapse" id="calendars">
                        <li class="nav-item"><%= active_link_to 'Dane synoptyczne', measurements_path, :title => "Lista pobranych od IMGW pomiarów", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Prognozy', forecasts_path, :title => "Prognoza pogody z yr.no", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Radary', radars_path, :title => "Radary", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Jakość powietrza', gios_measurments_path, :title => "Jakość powietrza", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Depesze METAR', metar_raports_path, :title => "Depesze METAR", class:"nav-link" %></li>
                        <li class="nav-item"><%= active_link_to 'Pomiary Gdańskie Wody', gw_measurs_path, :title => "Pomiary Gdańskie Wody", class:"nav-link" %></li>
                    </ul>
                    <% end %>
                </div>
            </nav>
            <script>
                activeCollapse();
            </script>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
                    <%= render partial: 'layouts/messages', flash: flash %>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <%= yield %>
                </div>
            </main>
        </div>
    </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
        activeCollapse();
    </script>
</body>

</html>